<div class="cont">
    <div class="r-header-body">
        <h2>个人电站</h2>
    </div>
    <div class="personal-station-nav">
        <div class="nav-box">
            <ul id="ulnav">
                <li class="button-edit current">概况</li>
                <li class="button-edit" data-action="In_real_time">实时</li>
                <li class="button-edit" data-action="view-progress">历史</li>
                <li class="button-edit" data-action="view-progress">报警</li>
                <li class="button-edit" data-action="view-progress">报表</li>
                <li class="button-edit" data-action="view-progress">管理</li>
            </ul>
        </div>
        <div class="smalltip">
            <p>5/31 sunny 23-32℃</p>
            <p>5/31 sunny 23-32℃</p>
            <p>5/31 sunny 23-32℃</p>
            <span>报警数：<i>10</i>条</span>
        </div>
    </div>
    <section>
    <!-- 第一个 -->
    <div class="S-content" style="display: block;">
        <div class="left">
            <div class="station-photo">
                <span class="title">电站照片</span>
                <img src="http://szb.gdzjdaily.com.cn/zjrb/res/1/20130204/6731359942018422.jpg" alt="">  
            </div>
            <div class="station-map">
                <span class="title">电站地图</span>
                <img src="http://img1.cache.netease.com/catchpic/D/DD/DD2BDAA9F531FDFE3B275B93418FEE99.jpg" alt="">
            </div>
            <div class="station-info">
                <span class="title">电站信息</span>
                <ul>
                    <li>
                        <p>装机电容：</p>
                        <span>8.00kw</span>
                    </li>
                    <li>
                        <p>安装商：</p>
                        <span>我啊不对劲呢大家的年代</span>
                    </li>
                    <li>
                        <p>峰值功率：</p>
                        <span>7.8kw</span>
                    </li>
                     <li>
                        <p>发电效率：</p>
                        <span>3.69kwh／kw／day</span>
                    </li>
                    <li>
                        <p>注册时间：</p>
                        <span>2017 - 01 - 12</span>
                    </li>
                    <li>
                        <p>最后更新时间：</p>
                        <span>2017 - 01 - 16</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="S-top">
                <div class="col-ms-3">
                    <p>累计减少砍伐树木</p>
                    <span>9.13 <nth>棵</nth></span>   
                </div>
                <div class="col-ms-3">
                    <p>累计减少二氧化碳</p>
                    <span>9.13 <nth>吨</nth></span> 
                </div>
                <div class="col-ms-3">
                    <p>收益</p>
                    <span><nth>¥</nth>9<nth>K</nth></span> 
                </div>
            </div>
            <div class="S-center">
                <table class="table" border="1">
                    <thead>
                        <tr>
                            <td>当前功率</td>
                            <td>当日电量</td>
                            <td>当月电量</td>
                            <td>当年电量</td>
                            <td>总电量</td>
                        </tr>
                    </thead>
                    <tr class="colorgreen">
                        <td>123KW</td>
                        <td>123KW</td>
                        <td>123KW</td>
                        <td>123KW</td>
                        <td>123KW</td>
                    </tr>
                </table>
            </div>
            <div class="S-bottom">
                <button class="btn btn-info">功率</button><button class="btn btn-info">电量</button><button class="btn btn-info">日</button><button class="btn btn-info">周</button>
                <div id="main" style="width: 100%;height:600px;"></div>
            </div>
        </div>      
    </div>
    <!--  第二个 -->
    <div class="S-content">      
       <label>客户区域：</label>
            <select name="dicCode">
            </select>
            <button id="search" class="button-sytle1">查询</button>
        <table id="tablePo" class="tabletxt" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>逆变器序列号</th>
                    <th>通道</th>
                    <th>电压(Vdc)</th>
                    <th>相位</th>
                    <th>电压(V)</th>
                    <th>电流(A)</th>
                    <th>功率(W)</th>
                    <th>频率(Hz)</th>
                    <th>当日电量(KWh)</th>
                    <th>累计能量(KWh)</th>
                     <th>温度(℃)</th>
                      <th>时间</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- 第三个 -->
    <div class="S-content">
        <div class="left">
            <div class="equipment-list">
                <span class="title">设备列表</span>
                <ul>
                    <li>
                        <p>5609876543456789</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right">
            <div class="S-bottom">
                <button class="btn btn-info">显示隐藏</button><button class="btn btn-info">查询</button><button class="btn btn-info">日</button><button class="btn btn-info">周</button>
                <div id="main" style="width: 100%;height:600px;"></div>
            </div>
        </div>
    </div>
    <!-- 第四个 -->
    <div class="S-content">      
       <label>客户区域：</label>
            <select name="dicCode">
            </select>
            <select name="dicCode">
            </select>
            <button id="search" class="button-sytle1">查询</button>
        <table id="tablePo" class="tabletxt" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>逆变器SN</th>
                    <th>报警信息</th>
                    <th>报警代码</th>
                    <th>报警时间</th>
                    <th>报警状态</th>
                    <th>查看图标</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- 第五个 -->
    <div class="S-content">      
       <div>报表管理</div>
           
        <table id="tablePo" class="tabletxt" cellspacing="0" width="100%">
           <tr>
               <td>日报表</td>
               <td>日期：<input type="text"></td>
               <td><button class="btn btn-info">预览</button></td>
               <td><button class="btn btn-info">导出</button></td>
           </tr> 
           <tr>
               <td>周报表</td>
               <td>起始日期<input type="text">至<input type="text"></td>
               <td><button class="btn btn-info">预览</button></td>
               <td><button class="btn btn-info">导出</button></td>
           </tr>
           <tr>
               <td>月报表</td>
               <td>年<input type="text">月<input type="text"></td>
               <td><button class="btn btn-info">预览</button></td>
               <td><button class="btn btn-info">导出</button></td>
           </tr> 
           <tr>
               <td>年报表</td>
               <td>年<input type="text"></td>
               <td><button class="btn btn-info">预览</button></td>
               <td><button class="btn btn-info">导出</button></td>
           </tr> 
           <tr>
               <td>表警</td>
               <td>起始日期<input type="text">至<input type="text"></td>
               <td><button class="btn btn-info">预览</button></td>
               <td><button class="btn btn-info">导出</button></td>
           </tr>
        </table>
    </div>
    <!-- 第六个 -->
    <div class="S-content">      
       <div class="nav-box">
            <ul id="sixcontbtn">
                <li class="button-edit">电站管理</li>
                <li class="button-edit current" data-action="In_real_time">设备</li>
                <li class="button-edit" data-action="view-progress">报警管理</li>
                <li class="button-edit" data-action="view-progress">电量修正</li>
                <li class="button-edit" data-action="view-progress">SIM卡号</li>
                <li class="button-edit" data-action="view-progress">电价</li>
            </ul>
        </div>
        <div class="sixcont">
            <ul id="sixcontcon">
                <li></li>
                <li class="current">
                    <table id="tablePo" class="tabletxt" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>采集器序列号</th>
                            <th>网关品牌</th>
                            <th>逆变器序列号</th>
                            <th>逆变器品牌</th>
                            <th>状态</th>
                            <th>更新时间</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <button class="btn btn-info currentbtn">增加序列号</button>
                </li>
                <li>
                    <div class="antbox">
                        <label>报警通知：<input type="checkbox" name="" id=""> 邮箱</label>
                        <label>报警邮箱：<input type="text" name="" id=""></label>
                        <button class="btn btn-info">确定</button>
                    </div>
                </li>
                <li>
                    <div class="alldj">
                        <div class="titlebold"><span>电站总量修正</span> <input type="text"><span>kwh</span> <button class="btn btn-info">确定</button></div>
                        <span class="smallfont">总电量补缺适用于更换设备卡等情况造成的</span>
                        <div><p class="titlebold">电站年月量修正<span>电站年月量修正适用于数据未成功上传导致的电量误差，该值不会影响总电量</span></p> </div>
                        <select>
                            <option value="2017">2017</option>
                        </select>
                        <select>
                            <option value="5">5</option>
                        </select>
                        <input type="text"> <button class="btn btn-info">添加</button>
                        <div>年／月／电量补差</div>
                    </div>    
                </li>
                <li class="fivelicon">
                    <p>提示：如果您使用自己购买的SIM卡，您可以在这里填写编辑SIM卡号，该信息会显示在“个人电站”列表中</p>
                    <label>自供SIM卡号：<input type="text" name="" id=""></label>
                    <label>采集器序列号：<input type="text" name="" id=""></label>
                    <button class="btn btn-info">确定</button>
                </li>
                <li class="lastlicon">
                    <p><input type="checkbox" name="" id="">电价区间</p>
                     <table id="tablePo" class="tabletxt" cellspacing="0" width="100%">
                       <tr>
                           <td>起始日期：</td>
                           <td>至</td>
                           <td>电价</td>
                           <td>操作</td>
                       </tr> 
                       <tr>
                           <td><input type="text"></td>
                           <td><input type="text"></td>
                           <td><input type="text"></td>
                           <td><button class="btn btn-info">+</button></td>
                       </tr>
                      
                    </table>
                    <button class="btn btn-info sure">保存</button>
                </li>
            </ul>



        </div>
    </div>
</section>
</div>
<script type="text/javascript">

$('#ulnav li').click(function(){
    var i = $(this).index();
    $(this).addClass('current').siblings().removeClass("current");
    $(".S-content").eq(i).fadeIn(300).siblings().fadeOut(300);
})

$('#sixcontbtn li').click(function(){
    var i = $(this).index();
    $(this).addClass('current').siblings().removeClass("current");
    $("#sixcontcon li").eq(i).fadeIn(300).siblings().fadeOut(300);
})







        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
// $.echeatsinit(function(data){
//     console.log(data.data)
//     console.log(data.date)
//     // 使用刚指定的配置项和数据显示图表。
//     initdata(data)
// })

function initdata(listdata){
   var option = {
    title: {
        text: ''
    },
    tooltip : {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
            label: {
                backgroundColor: 'skyblue'
            }
        }
    },
    // legend: {
    //     data:['邮件营销','联盟广告','视频广告','直接访问','搜索引擎']
    // },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            data : listdata.date
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'功率',
            type:'line',
            stack: '总量',
            areaStyle: {normal: {}},
            data:listdata.data
        }
    ]
}; 

 myChart.setOption(option);
}


















    </script>
