<div class="cont">
    <div class="r-header-body">
        <h2>个人电站</h2>
    </div>
    <div class="personal-station-nav">
        <div class="nav-box">
            <ul>
                <li>概况</li>
                <li class="current">实时</li>
                <li>历史</li>
                <li>报警</li>
                <li>报表</li>
                <li>管理</li>
            </ul>
        </div>
        <div class="smalltip">
            <p>5/31 sunny 23-32摄氏度</p>
            <p>5/31 sunny 23-32摄氏度</p>
            <p>5/31 sunny 23-32摄氏度</p>
            <span>报警数：<i>10</i>条</span>
        </div>
    </div>
    <div class="S-content">
       <label>客户区域：</label>
            <select name="dicCode">
            </select>
            <button id="search" class="button-sytle1">查询</button>
        <table id="tablePo" class="tabletxt" cellspacing="0" >
        <thead>
            <tr>
                <th>编号</th>
                <th>用户姓名</th>
                <th style="min-width:200px;">所在区域</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    </div>
</div>